---

_You are currently looking at **version 1.2** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 2 - Pandas Introduction
All questions are weighted the same in this assignment.
## Part 1
The following code loads the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [20]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    # String can be queries like an array
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')

### Question 0 (Example)

What is the first country in df?

*This function should return a Series.*

In [21]:
# You should write your whole answer within the function provided. The autograder will call
# this function and compare the return value against the correct solution value
def answer_zero():
    # This function returns the row for Afghanistan, which is a Series object. The assignment
    # question description will tell you the general format the autograder is expecting
    return df.iloc[0]

# You can examine what your function returns by calling it in the cell. If you have questions
## about the assignment formats, check out the discussion forums for any FAQs
#answer_zero()

### Question 1
Which country has won the most gold medals in summer games?

*This function should return a single string value.*

In [22]:
# I wonder if this is the right way to go about it?
# do they want index or id?

def answer_one():
    return df[df['Gold'] == max(df["Gold"])].index[0]

### Question 2
Which country had the biggest difference between their summer and winter gold medal counts?

*This function should return a single string value.*

In [23]:
# no empty values
#set (pd.isnull(df.Gold))
#set (pd.isnull(df["Gold.1"]))

def answer_two():
    diff =  df["Gold"] - df["Gold.1"] 
    return diff.sort_values(ascending=False).index[0]

### Question 3
Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count? 

$$\frac{Summer~Gold - Winter~Gold}{Total~Gold}$$

Only include countries that have won at least 1 gold in both summer and winter.

*This function should return a single string value.*

In [24]:


def answer_three():
    df1 = df[ (df["Gold"]>0 ) & (df["Gold.1"]>0 )]
    df1["s_vs_w"] = (df.Gold - df["Gold.1"]) / df["Gold.2"]
    return df1.sort_values(['s_vs_w'], ascending=False).iloc[0].name

### Question 4
Write a function that creates a Series called "Points" which is a weighted value where each gold medal (`Gold.2`) counts for 3 points, silver medals (`Silver.2`) for 2 points, and bronze medals (`Bronze.2`) for 1 point. The function should return only the column (a Series object) which you created.

*This function should return a Series named `Points` of length 146*

In [27]:
def answer_four():
    extract = df[["Gold.2","Silver.2","Bronze.2"]]
    extract['Points'] = extract['Gold.2'] * 3 + extract['Silver.2'] * 2 + extract['Bronze.2']
    return extract['Points']

## Part 2
For the next set of questions, we will be using census data from the [United States Census Bureau](http://www.census.gov/popest/data/counties/totals/2015/CO-EST2015-alldata.html). Counties are political and geographic subdivisions of states in the United States. This dataset contains population data for counties and states in the US from 2010 to 2015. [See this document](http://www.census.gov/popest/data/counties/totals/2015/files/CO-EST2015-alldata.pdf) for a description of the variable names.

The census dataset (census.csv) should be loaded as census_df. Answer questions using this as appropriate.

### Question 5
Which state has the most counties in it? (hint: consider the sumlevel key carefully! You'll need this for future questions too...)

*This function should return a single string value.*

In [28]:
#http://blog.cubitplanning.com/2011/03/census-summary-level-sumlev might be useful
census_df = pd.read_csv('census.csv')
census_df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [29]:
def answer_five():
    agg_data = census_df[census_df.SUMLEV==50][census_df.SUMLEV==50]
    census_df[['STNAME','SUMLEV']]
    agg_data = agg_data.groupby(['STNAME'], as_index=False).agg('count')
    return agg_data.sort_values(['SUMLEV'],ascending=False).iloc[0].STNAME

### Question 6
Only looking at the three most populous counties for each state, what are the three most populous states (in order of highest population to lowest population)? Use `CENSUS2010POP`.

*This function should return a list of string values.*

In [201]:
# Top X from each group
def myF(x, topX):
    x = x.sort_values(['CENSUS2010POP'], ascending=False)
    return x['CENSUS2010POP'][0:topX,].sum()

def answer_six():
    counties = census_df[census_df.SUMLEV==50]
    counties = counties [ ['STNAME','CTYNAME','CENSUS2010POP']]
    top_3_perstate = counties.groupby("STNAME").agg(myF,3).reset_index().sort_values(['CENSUS2010POP'], ascending=False)
    return list(top_3_perstate.head(3).STNAME)

In [352]:
#np.random.randint(low=1, high=100, size=(8,4))@
import numpy as np
from datetime import datetime,date
dates = pd.date_range('1/1/2000', periods=8)
r = np.arange(1,9) #(8,1)
c = np.arange(1,5)
df = pd.DataFrame(r[:,None]*c, index=dates, columns=['A', 'B', 'C', 'D'])

g = df.append(df)  #df.apply(lambda x: x+1)
#g.groupby(['sum'])
(g.reset_index().groupby('index').agg('count').reset_index()).drop('A', axis=1)

       index  B  C  D
0 2000-01-01  2  2  2
1 2000-01-02  2  2  2
2 2000-01-03  2  2  2
3 2000-01-04  2  2  2
4 2000-01-05  2  2  2
5 2000-01-06  2  2  2
6 2000-01-07  2  2  2
7 2000-01-08  2  2  2

### Question 7
Which county has had the largest absolute change in population within the period 2010-2015? (Hint: population values are stored in columns POPESTIMATE2010 through POPESTIMATE2015, you need to consider all six columns.)

e.g. If County Population in the 5 year period is 100, 120, 80, 105, 100, 130, then its largest change in the period would be |130-80| = 50.

*This function should return a single string value.*

In [11]:
def answer_seven():
    cols = ['STNAME','CTYNAME']
    for x in census_df.columns:
        if "POPEST" in x:
            cols.append(x)
    min_max_frame = census_df[census_df.SUMLEV==50][cols]
    min_max_frame['Minimum'] = min_max_frame.loc[:, ['POPESTIMATE2010','POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].min(axis=1)
    min_max_frame['Maximum'] = min_max_frame.loc[:, ['POPESTIMATE2010','POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']].max(axis=1)
    min_max_frame['Abs_delta'] = abs(min_max_frame['Maximum'] - min_max_frame['Minimum'])
    min_max_frame.sort_values(['Abs_delta'], inplace=True, ascending=False)
    return min_max_frame.iloc[0].CTYNAME

### Question 8
In this datafile, the United States is broken up into four regions using the "REGION" column. 

Create a query that finds the counties that belong to regions 1 or 2, whose name starts with 'Washington', and whose POPESTIMATE2015 was greater than their POPESTIMATE 2014.

*This function should return a 5x2 DataFrame with the columns = ['STNAME', 'CTYNAME'] and the same index ID as the census_df (sorted ascending by index).*

In [12]:

def answer_eight():
    r = census_df[(census_df["REGION"] == 1) | (census_df["REGION"] == 2) ]
    # is that the right way of retrieving the value?
    r = r[ r["CTYNAME"].str.startswith("Washington")]
    r= r [ r["POPESTIMATE2015"] > r["POPESTIMATE2014"]]
    return r[['STNAME','CTYNAME']]